div(style="float: left; margin: 30px")
  h1= title
  p Welcome to #{title}

  p This is the Equation Engine.<br/>
    |It can be used to generate test questions from a mildly complex equation.

  p Everything must be within []!
    table.border
      tr
        td.border Single Digit
        td.border [1]
      tr
        td.border Operators<br/>Generate for all listed
        td.border [+-*/]
      tr
        td.border Specific Numbers
        td.border [1,3,5]
      tr
        td.border Range of Numbers
        td.border [0..9]
  p Let's try it with something easy:
  form(action=path+"/engine", method="post", id="engine")
    p Equation:<br/>
      input(type="text", name="eq", value=req.eq || "[1][0][+][1,3,5][+][0..9]")
    p Count: (Number of questions to generate)<br/>
      input(type="text", name="count", value=req.count || "20")
    p
      input(type="submit", name="submit", value="Generate")

if(typeof(submit) != 'undefined')
    div(style="margin-top: 50px")
      table.border
        tr
          td.border Equation:
          td.border= result.equation
        tr
          td.border Count:
          td.border= result.count
        tr
          td.border Total Generated:
          td.border= result.total
      p= result.message
      p Generated Questions:
      // This is a hairy section of display code and formatting:
      table
        num = 0
        row = Math.ceil(Math.sqrt(result.questions.length))
        each question in result.questions
          - if(num%row == 0)
              tr
            td!= "&nbsp;" + question.replace(/([\+\-\*\/])/ig, "\\$1\&nbsp;").split(/\\/).join('</br>')
              <br/>
              != "&#151;&#151;"
              <br/>
              = "&nbsp;" + eval(question)
          - num++

