!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body

  br
  #footer(style="float: left; clear: left")
    a(href=basepath+'/') Home | 
    if(user.username != null)
      a(href=basepath+'/logout') Logout | 
    else
      a(href=basepath+'/login') Login | 
    a(href=basepath+'/test') Test | 
    a(href=basepath+'/about') About
    <br/>
    a(href=basepath+'/engine') Equation Engine
