!!! 5
html
  head
    title= title
    link(rel='stylesheet', href=basepath+'/stylesheets/style.css')
  body
    #header
      h1= title
      a(href=basepath+'/') Home | 
      if(user.username != null)
        a(href=basepath+'/logout') Logout | 
        a(href=basepath+'/user') User | 
        a(href=basepath+'/test') Take Test
        if(user.role === "teacher" || user.role === "admin")
          br
          a(href=basepath+'/users') Users | 
          a(href=basepath+'/classes') Classes | 
          a(href=basepath+'/questions') Questions | 
          a(href=basepath+'/tests') Tests | 
      else
        a(href=basepath+'/login') Login | 
        a(href=basepath+'/about') About
      br
      a(href=basepath+'/engine') Equation Engine

   != body

