!!! 5
html
  head
    title= title
    link(rel='stylesheet', href=path+'/stylesheets/style.css')
  body!= body

  br
  #footer(style="float: left; clear: left")
    a(href=path+'/') Home | 
    a(href=path+'/login') Login | 
    a(href=path+'/view') View | 
    a(href=path+'/about') About
    <br/>
    a(href=path+'/engine') Equation Engine
