!!! 5
html
  head
    title!= title
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
    link(rel='stylesheet', href=basepath+'/jqm/jquery.mobile.css')
    link(rel='stylesheet', href=basepath+'/jqm/jquery.mobile.splitview.css')
    link(rel='stylesheet', href=basepath+'/jqm/jquery.mobile.grids.collapsible.css')
    link(rel='stylesheet', href=basepath+'/css/clinic.css')
    link(rel='stylesheet', href=basepath+'/css/numpad.css')
    script(type='text/javascript', src=basepath+'/jqm/jquery-1.7.1.js')
    script(type='text/javascript', src=basepath+'/jqm/jquery.mobile.splitview.js')
    script(type='text/javascript', src=basepath+'/jqm/jquery.mobile.js')
    script(type='text/javascript', src=basepath+'/jqm/iscroll-wrapper.js')
    script(type='text/javascript', src=basepath+'/jqm/iscroll.js')
    //-script(type='text/javascript', src=basepath+'/jqm/eventlog.js')
    script(type='text/javascript', src=basepath+'/js/json2.js')
    script(type='text/javascript', src=basepath+'/js/clinic.util.js')
    script(type='text/javascript', src=basepath+'/js/clinic.test.js')
    script(type='text/javascript', src=basepath+'/js/clinic.numpad.js')
  body
    // Menu Pages
    div(data-role='panel', data-id='menu', data-hash='crumbs', data-context='a#default')
      // Start of first page 
      #main(data-role='page', data-hash='false')
        div(data-role='header')
          h1 Menu
        // header 
        div(data-role='content')
          ul(data-role="listview")
            li
              a(href='#home', data-panel="main") Home
            if(user.id != null)
              li
                a(href='#logout', data-panel="main") Logout
              li
                a(href='#{basepath}/user/edit', data-panel="main") User
              li
                //-a(href='#{basepath}/test/take', data-panel="main") Take Test
                a(href='#test-take', data-panel="main") Take Test
              if(user.role === "teacher" || user.role === "admin")
                li
                  a(href='#users', data-panel="main") Users
                li
                  a(href='#classes', data-panel="main") Classes
                li
                  a(href='#questions', data-panel="main") Questions
                li
                  a(href='#{basepath}/test/create', data-panel="main") Create Test
            else
              li
                a(href='#login', data-panel="main") Login
            li
              a(href='#about', data-panel="main") About
            li
              a(href='#engine', data-panel="main") Equation Engine
    // Main Pages
    div(data-role='panel', data-id='main')
      include home
      include login
      include logout
      include test-take
      include test-complete
      include about
      include engine

