#login(data-role="page")
  div(data-role="header")
    h1= title
  div(data-role="content")
    script(type='text/javascript')
      $('#login-form').live('submit', function(e){
        var url = "#{basepath}"+"/login";
        var data = $('#login-form').serialize();
        $.post(url, data, function(){
          window.location = "#{basepath}"+"/";
        });
        e.stopPropagation();
        e.preventDefault();
        return false;
      });
    p Please login:
    form#login-form
      p User:
        input(type="text", name="username", value=config.guest.user)
      p Pass:
        input(type="password", name="password", value=config.guest.pass)
      p
        input(type="submit", name="submit", value="Login")
