!!! 5
html
  head
    title!= title
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
    link(rel='stylesheet', href=basepath+'/jqm/jquery.mobile.css')
    link(rel='stylesheet', href=basepath+'/css/clinic.css')
    link(rel='stylesheet', href=basepath+'/css/numpad.css')
    script(type='text/javascript', src=basepath+'/jqm/jquery-1.7.1.js')
    script(type='text/javascript', src=basepath+'/jqm/jquery.mobile.js')
    script(type='text/javascript', src=basepath+'/js/json2.js')
    script(type='text/javascript', src=basepath+'/js/clinic.util.js')
    script(type='text/javascript', src=basepath+'/js/clinic.test.js')
    script(type='text/javascript', src=basepath+'/js/clinic.numpad.js')
    //-script(type='text/javascript', src=basepath+'/jqm/eventlog.js')
  body
    != body
    include test-complete
