!!! 5
html
  head
    title!= title
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
    link(rel='stylesheet', href=basepath+'/jqm/jquery.mobile.css')
    script(type='text/javascript', src=basepath+'/jqm/jquery-1.7.1.js')
    script(type='text/javascript', src=basepath+'/jqm/jquery.mobile.js')
    script(type='text/javascript', src=basepath+'/js/clinic.jqm.js')
    //-script(type='text/javascript', src=basepath+'/jqm/eventlog.js')
  body
    != body
